<article class="weui-article">
	<h1>{{new.title}}</h1>
	<section>
		<section>
			<p>
				{{new.text}}
			</p>
			<p>
				<img ng-src="{{new.image}}" ng-click="gallery(new.image)" alt="">
				<img src="images/2.jpg" ng-click="gallery('images/2.jpg')" alt="">
			</p>
		</section>
	</section>
</article>
<!--<div ng-bind-html="html"></div>-->
<div class="weui-gallery" style="display:{{isGallery?'block':'none'}}">
    <span class="weui-gallery__img" style="background-image: url({{imgUrl}});"></span>
    <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del" ng-click="isGallery=false">
            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
    </div>
</div>