<div class="weui-cells__title">title</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" ng-model="title" type="text" placeholder="请输入文本"/>
        </div>
    </div>
</div>

<div class="weui-cells__title">text</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea ng-model="text" class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
            <div class="weui-textarea-counter"><span>0</span>/200</div>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" ng-click="submit()" id="showTooltips">添加新闻</a>
</div>