<div class="weui-cells__title">用户名</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" ng-model="username" type="text" placeholder="请输入用户名"/>
        </div>
    </div>
</div>
<div class="weui-cells__title">密码</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" ng-model="password" type="text" placeholder="请输入密码"/>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" ng-click="sub()" id="showTooltips">登录</a>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="#/register" id="showTooltips">注册</a>
</div>