<div id="actionSheet_wrap">
	<div class="weui-mask_transparent actionsheet__mask" ng-if="isShowActionSheet" id="mask"></div>
	<div class="weui-skin_android" id="weui-android-actionsheet" style="display:{{isShowActionSheet?'block': 'none'}}">
		<div class="weui-mask" ng-click="hideActionSheet()"></div>
		<div class="weui-actionsheet">
			<div class="weui-actionsheet__menu">
				<div class="weui-actionsheet__cell" ng-click="sort=false;isShowActionSheet=false">升序</div>
				<div class="weui-actionsheet__cell" ng-click="sort=true;isShowActionSheet=false">降序</div>
			</div>
		</div>
	</div>
</div>