<div class="weui-tab">
	<div class="weui-navbar weui-fixed">
		<div class="weui-navbar__item" ng-class="{'weui-bar__item_on':tabs==1}">
			<a href="#/index/recommend/6" ng-click="changeTab(1)">推荐</a>
		</div>
		<div class="weui-navbar__item " ng-class="{'weui-bar__item_on':tabs==2}">
			<a href="#/index/hot/7" ng-click="changeTab(2)">热点</a>
		</div>
		<div class="weui-navbar__item" ng-class="{'weui-bar__item_on':tabs==3}">
			<a href="#/index/entertainment/8" ng-click="changeTab(3)">娱乐</a>
		</div>
		<div class="weui-navbar__item" ng-class="{'weui-bar__item_on':tabs==4}">
			<a href="#/index/login" ng-click="changeTab(4)">登录</a>
		</div>
	</div>
	<div class="weui-tab__panel">
	</div>
</div>